.login{
    font-size: 10px;
}
img{
    margin-left: 215px;
    margin-right: 20px;
}
.navbar-dark .navbar-nav .nav-link{
    margin-right:20px;
}
.far{
    margin-right: 10px;
    margin-left: 20px;
}